input {
    height: 10%;
    width: 10%;
}

input:disabled {
    color: white;
}

#DABBA {
    margin-left: 30%;
    margin-top: 10%;
}

#gameholder {
    display: none;
}

#inputs {
    display: block;
}

#demo{
    display: block;
}

#demo1{
    display: block;
}

.but1{
    background:linear-gradient(0deg,rgba(255, 255, 255, 0),rgba(255,255,255,0));
    outline:none;font-size:20px;
    border-color: white;
    border-right-width: 2px;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    margin-right: -4px;
    
}

.but2{
    background:linear-gradient(0deg,rgba(255, 255, 255, 0),rgba(255,255,255,0));
    outline:none;font-size:20px;
    border-color: white;
    border-right-width: 2px;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
}
.but3{
    background:linear-gradient(0deg,rgba(255, 255, 255, 0),rgba(255,255,255,0));
    outline:none;font-size:20px;
    border-color: white;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    margin-left: -4px;
}
.but4{
    background:linear-gradient(0deg,rgba(255, 255, 255, 0),rgba(255,255,255,0));
    outline:none;font-size:20px;
    border-color: white;
    border-right-width: 2px;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    margin-right: -4px;
}
.but5{
    background:linear-gradient(0deg,rgba(255, 255, 255, 0),rgba(255,255,255,0));
    outline:none;font-size:20px;
    border-color: white;
    border-right-width: 2px;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
}
.but6{
    background:linear-gradient(0deg,rgba(255, 255, 255, 0),rgba(255,255,255,0));
    outline:none;font-size:20px;
    border-color: white;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    margin-left: -4px;
}
.but7{
    background:linear-gradient(0deg,rgba(255, 255, 255, 0),rgba(255,255,255,0));
    outline:none;font-size:20px;
    border-color: white;
    border-right-width: 2px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-right: -4px;
}
.but8{
    background:linear-gradient(0deg,rgba(255, 255, 255, 0),rgba(255,255,255,0));
    outline:none;font-size:20px;
    border-color: white;
    border-right-width: 2px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.but9{
    background:linear-gradient(0deg,rgba(255, 255, 255, 0),rgba(255,255,255,0));
    outline:none;font-size:20px;
    border-color: white;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-left: -4px;
}

.text{
    color: white;
    font-size:40px;
}

#player1{
    margin:0.2%;
    margin-left:0.65%;
    height:8%;
    width:20%;
}

#player2{
    margin:0.2%;
    height:8%;
    width:20%;
}

#player3{
    margin:0.2%;
    margin-top:2%;
    height:8%;
    width:10%;
    text-decoration-color: black;
    border-width: 0px;
    font-weight: bolder;
    font-size: 30px;
}

#gameholder{
    color: white;
}

#demo{
    color: white;
}

#demo1{
    color: white;
}

#oncancel{
    color:white;
}

#maingame{
    color: white;
}

#lol{
    margin:0.2%;
    margin-top:2%;
    height:8%;
    width:10%;
    border-width: 0px;
    font-weight: bolder;
}

#load{
    display: none;
    margin:0.2%;
    margin-top:2%;
    height:8%;
    width:10%;
    border-width: 0px;
    font-weight: bolder;
}

i{
    color: white;
    outline: none;
}

i:hover{
    color: orangered;
}